.orange {
    color: orange;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}

.green {
    color: green;
}

.bold {
    font-weight: bold;
}

.border {
    border: 1px solid yellowgreen;
}